{{!< default}}

{{#if @blog.cover}}
    <div class="gct-title-box gct-article-loop-title">
        <div>
            <h1 class="gct-text-on-background">{{@blog.title}}</h1>
            <p class="gct-text-on-background">{{@blog.description}}</p>
        </div>
    </div>
{{/if}}

{{> post-loop}}