{{!< default}}

<main class="content" role="main">
    <article class="{{post_class}}">
        <header>
            {{! Title, date, tags, author }}
        </header>

        <section>
            {{! Content}}
        </section>

        <footer>
            {{! Author info, tags, sharing }}

            {{> comments}}
        </footer>
    </article>
</main>