@require "../bootstrap-stylus-5.0.2/index.styl"

body
    padding-top: $navbar-height + $padding-large-vertical

.navbar-brand 
    img
        height: $navbar-height
        margin: - $navbar-padding-vertical

.navbar
.navbar-collapse
    border: none

.extra-pager
    display: none

.paged .extra-pager
    display: block

article 
    padding: $padding-large-vertical $padding-large-horizontal
    margin: $padding-large-vertical 0
    border-bottom: 1px solid $gray-lighter

    .post-image
        width: 100%
        margin: $padding-base-vertical 0

    .post-title
        margin: $padding-small-vertical 0

    .post-date
        font-style: italic
        margin-bottom: $padding-large-vertical

    .post-excerpt
        margin: $padding-base-vertical 0

    footer
        margin-top: $padding-base-vertical
        display: flex
        align-items: center

        .post-author
            display: flex
            align-items: center

            .author-thumb
                height: 1.25 * $line-height-computed
                border-radius: 100%
                margin-right: $padding-small-horizontal

#gct-footer
    text-align: center
    
    section
        display: inline

.gct-cover-background
    background-size: cover
    background-attachment: fixed
    background-position: center center

    .cover-title
        height: 60vh
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        color: #fff

        h1
            font-size: 2 * $font-size-h1
            font-weight: bold

        p
            font-size: 1.5 * $font-size-large
            font-weight: lighter

    .gct-content
        background: $body-bg