@require "../bootstrap-stylus-5.0.2/index.styl"

$body-padding-top = $navbar-height + $padding-large-vertical

body
    padding-top: $body-padding-top

.navbar-brand 
    img
        height: $navbar-height
        margin: - $navbar-padding-vertical

.navbar
.navbar-collapse
    border: none

.extra-pager
    display: none

.paged .extra-pager
    display: block

.pager
    padding: $padding-large-vertical $padding-large-horizontal

    .gct-page-number
        font-size: $font-size-large
        line-height: $line-height-computed + 2 * $padding-base-vertical
        color: #fff

article 
    padding: $padding-large-vertical $padding-large-horizontal
    margin: $padding-large-vertical 0
    border-bottom: 1px solid $gray-lighter

    .post-image
        width: 100%
        margin: $padding-base-vertical 0

    .post-title
        margin: $padding-small-vertical 0

    .post-date
        font-style: italic
        margin-bottom: $padding-large-vertical

    .post-excerpt
        margin: $padding-base-vertical 0

    footer
        margin-top: $padding-base-vertical
        display: flex
        align-items: center

        .post-author
            display: flex
            align-items: center

            .author-thumb
                height: 1.25 * $line-height-computed
                border-radius: 100%
                margin-right: $padding-small-horizontal

#gct-footer
    padding: $padding-large-vertical $padding-large-horizontal
    margin: $padding-large-vertical 0
    text-align: center
    
    section
        display: inline

.gct-title-box
    display: flex
    justify-content: center
    align-items: center
    text-align: center

    h1
        font-size: 2 * $font-size-h1
        font-weight: bold

    p
        font-size: 1.5 * $font-size-large
        font-weight: lighter

.gct-error-title-box
    min-height: 90vh

    blockquote
        color: $text-color
        text-align: left
        text-indent: 1em

        p
            font-size: $font-size-large

        footer
            text-align: right

.gct-cover-background
    background-size: cover
    background-attachment: fixed
    background-position: center center

    .gct-title-box
        color: #fff

    .gct-article-loop-title
        height: 60vh

    .gct-content
        background: $body-bg
